In [43]:
#import libraries
#!pip install kaggle
import kaggle

In [44]:
#download dataset using kaggle api
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [45]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() #extract file to Directory
zip_ref.close() #close file

In [46]:
#read data from the file and handle null values
import pandas as pd
#df = pd.read_csv('orders.csv') #read the file
#df.head(20) #show first 20
#df['Ship Mode'].unique() #shows only distinct values
df = pd.read_csv('orders.csv', na_values=['Not Available','unknown']) #set proper null values
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [47]:
#rename columns name .. make them lower case and replace space with underscore
#df.rename(columns={'Order Id':'order_id', 'City':'city'}) #one of the way - too lengthy
df.columns = df.columns.str.lower() #lower case columns
df.columns = df.columns.str.replace(' ','_') #replace space with underscore in columns
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [48]:
#derive new columns discount, sale price and profit
df['discount'] = df['list_price']*df['discount_percent']*.01 #created discount column
#df.head()
df['sale_price'] = df['list_price'] - df['discount'] #created sale_price column
df['profit'] = df['sale_price'] - df['cost_price'] #created profit column
#df.head()

In [49]:
#convert order date from object data type to datetime
df['order_date'] = pd.to_datetime(df['order_date'], format = "%Y-%m-%d")

In [50]:
#drop cost price list price and discount percent columns
df.drop(columns=['list_price', 'cost_price', 'discount_percent'], inplace=True)

In [51]:
#load the data into sql server using replace option
#!pip install mysql-connector
#import mysql.connector as sql
#!pip install PyMySQL
#import pymysql as sql

In [52]:
import pymysql as sql

In [53]:
mydb = sql.connect(
    host = "localhost",
    user = "root",
    passwd = "1234",
    database='project1'
)
print(mydb)

<pymysql.connections.Connection object at 0x000001E8BCBFAA20>

In [54]:
from sqlalchemy import create_engine

In [55]:
engine = create_engine('mysql+pymysql://root:1234@localhost/project1')

In [57]:
df.to_sql('df_orders', con=engine, index=False, if_exists = 'append')

9994